rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		match /posts/{postId} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "darO9l51GLUM5wVJLKdiXPymWQ12";
    }
    
    match /projects/{document=**} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "darO9l51GLUM5wVJLKdiXPymWQ12";
    }
    
    match /about/{document=**} {
      allow read;
      allow create, update, delete: if request.auth != null && request.auth.uid == "darO9l51GLUM5wVJLKdiXPymWQ12";
    }
    
    match /skillz/{document=**} {
      allow read;
    }
  }
}