<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Page</title>
</head>

<body>

    <div>
        <div id="app">
            <div id="middle">
                <h1>Blogs</h1>
            </div>

            <div v-if="blogs.length === 0">No blogs yet.</div>

            <div v-else>
                <div v-for="blog in blogs" :key="blog.id" class="blogBox"
                    style="animation-duration: 3s; border: 3px solid black;">
                    <h3 class="md-centering">{{ blog.title }}</h3>
                    <p class="md-centering"><span v-html="blog.content"></span></p>
                    <small style="color: #a70000; font-size: small;" class="md-centering">By {{ blog.author }} |
                        Published on {{
                        formatDate(blog.publication_date) }}</small>
                    <div v-if="user">
                        <button @click="editBlog(blog)" id="login-button" style="margin-top: 10px;">Edit</button>&nbsp
                        <button @click="deleteBlog(blog.id)" id="login-button">Delete</button>
                    </div>
                </div>
            </div>

            <br><br><br>
            <section>
                <h2 class="text-xl font-bold mb-4">Create Blogs:</h2>

                <div v-if="user" class="boxshadow">
                    <p>Logged in as: <strong>{{ user.email }}</strong></p> 
                    <button @click="signOut">Sign Out</button> <br><br>
                    <form @submit.prevent="submitBlog"> 
                        <input type="text" v-model="title" placeholder="Blog Title" required style="margin: 10px; width: 1000px; height: 40px; font-size:larger; padding: 10px;"><br><br>
                        <textarea v-model="content" ref="content" placeholder="Blog Content - Supports HTML!" required style="margin: 10px; width: 1000px; height: 200px; font-size: large; padding: 10px;"></textarea><br><br>
                        
                        
                        <button type="submit" style="margin-bottom: 10px;">Submit</button>
                    </form>

                    <button @click="insertPStart" style="margin-right: 10px;">Paragraph Start</button>
                    <button @click="insertPEnd" style="margin-right: 10px;">Paragraph End</button>
                    <button @click="insertBStart" style="margin-right: 10px;">Bold Start</button>
                    <button @click="insertBEnd" style="margin-right: 10px;">Bold End</button>
                    <button @click="insertAStart" style="margin-right: 10px;">Link Start</button>
                    <button @click="insertAEnd" style="margin-right: 10px;">Link End</button>
                    <button @click="insertNextLine" style="margin-right: 10px;">Next Line</button>
                </div>

                <div v-else class="boxshadow">
                    <button @click="loginWithGoogle" class="google-button">
                        Sign in with Google
                    </button>
                </div>
            </section>
        </div>
    </div>


















    <!-- Javascript Framework (Vue.js) -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <!-- Firebase Config Files Javascript -->
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-performance-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- General App Settings Javascript -->
    <script src="Blogs/Javascript/index.js"></script>


    <!-- Firebase Performance -->
    <script>
        const firebaseConfigPerf = {
            apiKey: "AIzaSyCA_BPpKq3IhLupHnGYbbwq0U1mLdMbJXY",
            authDomain: "contactusform-f0ec2.firebaseapp.com",
            databaseURL: "https://contactusform-f0ec2-default-rtdb.firebaseio.com",
            projectId: "contactusform-f0ec2",
            storageBucket: "contactusform-f0ec2.appspot.com",
            messagingSenderId: "641931730164",
            appId: "1:641931730164:web:0812ee1bf4659f8381d2a1",
            measurementId: "G-1RVB7HZQWB"
        };

        const appPerf = firebase.initializeApp(firebaseConfig);

        const perf = firebase.performance(appPerf);
    </script>


    <!-- All CSS -->
    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/contactusform-f0ec2.appspot.com/o/Icons%2Ftitle-icon.png?alt=media&token=5184d30f-59ce-4113-bb95-b8f7ebe4a04d"
        type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="Blogs/CSS/index.css">


    <!-- Miscellaneous Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</body>

</html>