<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://mir-s3-cdn-cf.behance.net/project_modules/disp/945b0225337909.563440870421b.png"
        type="image/icon type">
    <title>Pranav Verma.</title>
</head>

<body>
    <div id="loading">
        <div id="spinner"></div>
    </div>
    <div id="particles-js"></div>
    <div id="box">
        <div class="box1 onlywide animated bounceOutLeft" style="animation-delay:1.7s;"></div>
        <div class="box2 onlywide animated bounceOutLeft" style="animation-delay:1.8s;"></div>
        <div class="box2 onlywide animated bounceOutLeft" style="animation-delay:1.9s;"></div>
        <div class="box2 onlywide animated bounceOutRight" style="animation-delay:1.9s;"></div>
        <div class="box2 onlywide animated bounceOutRight" style="animation-delay:1.8s;"></div>
        <div class="box2 onlywide animated bounceOutRight" style="animation-delay:1.7s;"></div>
    </div>



    <a id="about" onclick="showabout()" class="animate__animated animate__fadeIn"
        style="animation-delay:2.2s;">about</a>
    <a id="work" onclick="showwork()" class="animate__animated animate__fadeIn" style="animation-delay:2.2s;">work</a>
    <a id="contact" onclick="showcontact()" class="animate__animated animate__fadeIn"
        style="animation-delay:2.2s;">contact</a>
    <a id="blogs" onclick="showblogs()" class="animate__animated animate__fadeIn"
        style="animation-delay:2.2s;">blogs</a>
    <div id="middle" class="animate__animated animate__slideInDown" style="animation-delay:2.0s;">
        <h1>Pranav Verma.</h1>
        <h2>Software Developer / Future CSE Student / Human (i think)</h2>
        <center><button class="btn_one" style="max-width: 300px; text-align: center; margin-bottom: -20px;"><a
                    onclick="showResume()">Download Resume</a></button></center>
        <div id="menu">
            <a onclick="showabout()">about</a>
            <a onclick="showwork()">work</a>
            <a onclick="showcontact()">contact</a>
            <a onclick="showblogs()">blogs</a>
        </div>
        <table style="z-index: 2;" id="linksTable">
            <tr>
                <td v-for="social in socials" :key="social.id" class="animate__animated animate__zoomIn"
                    style="animation-delay:2.4s;"><a class="social" @click="visitLink(social.socialSource)">
                        <img :src="social.socialIcon" style="filter: brightness(0) invert(1);">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div id="work_container" class="container" style="cursor: pointer !important;">
        <div onclick="closework()" class=""><i class="fas fa-angle-right"></i></div>
        <h1>works.</h1>
        <div id="work_vue">
            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-award" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0" />
                    <path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889" />
                    <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889" />
                </svg> Competitions</h2>
            <section v-for="competition in competitions" :key="competition.id">
                <h3>{{ competition.competitionName }}</h2>
                    <p>{{ competition.competitionDescription }}</p>

                    <button class="btn_one"><a :href="competition.competitionSource">Source Code</a></button>
            </section>

            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-github" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                </svg> Projects</h2>
            <section v-for="project in projects" :key="project.id">
                <h3>{{ project.projectName }}</h2>
                    <p>{{ project.projectDescription }}</p>

                    <button class="btn_one"><a :href="project.projectSource">Source Code</a></button>
            </section>

            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-building-skyscraper" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 21l18 0" />
                    <path d="M5 21v-14l8 -4v18" />
                    <path d="M19 21v-10l-6 -4" />
                    <path d="M9 9l0 .01" />
                    <path d="M9 12l0 .01" />
                    <path d="M9 15l0 .01" />
                    <path d="M9 18l0 .01" />
                </svg> Internships</h2>
            <section v-for="internship in internships" :key="internship.id">
                <h3>{{ internship.internshipName }}</h2>
                    <p>{{ internship.internshipDescription }}</p>

                    <button class="btn_one"><a :href="internship.cinternshipSource">Source Code</a></button>
            </section>
        </div>
    </div>
    <div id="about_container" class="container" style="cursor: pointer !important;">
        <div onclick="closeabout()"><i class="fas fa-angle-left"></i></div>
        <h1>about.</h1>
        <section>
            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-user-circle" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                </svg> about me</h2>
            <p id="about-me-placeholder">
                Loading...
            </p>
        </section>

        <section>
            <h2 class="heading-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-certificate" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" />
                    <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73" />
                    <path d="M6 9l12 0" />
                    <path d="M6 12l3 0" />
                    <path d="M6 15l2 0" />
                </svg> certificates
            </h2>

            <div v-for="certificate in certificates" :key="certificate.id"
                style="display: flex; align-items: center; padding-bottom: 3px; cursor: pointer;">
                <div class="toolImage">
                    <img :src="certificate.certificateImg" alt="Social Icon"
                        style="width: 2.5rem; height: 2.5rem; border-radius: 9999px;">
                </div>
                <div style="margin-left: 1rem;">
                    <h3>{{ certificate.certificateName }}</h3>
                    <p>Issued By: {{certificate.certificateIssue}}</p>
                    <div @click="visitLink(certificate.certificateUrl)" class="btn_one"
                        style="max-width: 300px; text-align: center;">View Certificate</div>
                </div>
            </div>
        </section>

        <section>
            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-code-circle-2" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8.5 13.5l-1.5 -1.5l1.5 -1.5" />
                    <path d="M15.5 10.5l1.5 1.5l-1.5 1.5" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M13 9.5l-2 5.5" />
                </svg> languages (learnt / learning / tried)</h2>

            <div v-for="language in languages" :key="language.id"
                style="display: flex; align-items: center; padding-bottom: 3px; cursor: pointer;">
                <div class="toolImage">
                    <img :src="language.languageImg" alt="Social Icon"
                        style="width: 2.5rem; height: 2.5rem; border-radius: 9999px;">
                </div>
                <div style="margin-left: 1rem;">
                    <h3>{{ language.languageName }}</h3>
                    <p v-html="language.languageDescription" />
                    <div @click="visitLink(language.languageSource)" class="btn_one"
                        style="max-width: 80px; text-align: center;">Visit</div>
                </div>
            </div>
        </section>

        <section>
            <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-tool" width="44" height="44" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" />
                </svg> tools (that i know how to use)</h2>

            <div v-for="project in projects" :key="project.id"
                style="display: flex; align-items: center; padding-bottom: 3px; cursor: pointer;">
                <div class="toolImage">
                    <img :src="project.projectImg" alt="Tool Icon"
                        style="width: 2.5rem; height: 2.5rem; border-radius: 9999px;">
                </div>
                <div style="margin-left: 1rem;">
                    <h3>{{ project.projectName }}</h3>
                    <p v-html="project.projectDescription" />
                </div>
            </div>
        </section>






    </div>
    <div id="contact_container" class="container" style="cursor: pointer !important;">
        <div onclick="closecontact()"><i class="fas fa-angle-down"></i></div>
        <h1>contact.</h1>
        <section>
            <h2 class="animate__animated animate__fadeIn" style="animation-duration: 1s;">contact me</h2>
            <p>
            <form id="contactForm" class="animate__animated animate__fadeIn" style="animation-duration: 3s;">
                <input type="text" placeholder="name" id="name" required>
                <input type="email" placeholder="email" id="email" required><br>
                <textarea placeholder="your message" id="message" required rows="5"></textarea><br>
                <button class="btn_one" type="submit">send</button>
            </form>
            </p>
        </section>
    </div>

    <div id="blogs_container" class="container" style="cursor: pointer !important;">
        <div onclick="closeblogs()"><i class="fas fa-angle-up"></i></div>


        <div id="app4">
            <section>
                <div class="mt-8 center">

                    <div class="animate__animated animate__fadeIn" style="animation-duration: 1s;">
                        <h1>blogs.</h1>
                    </div>

                    <div v-if="blogs.length === 0">No blogs yet.</div>


                    <div v-else>
                        <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-pin" width="44" height="44" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" />
                                <path d="M9 15l-4.5 4.5" />
                                <path d="M14.5 4l5.5 5.5" />
                            </svg> Pinned Blogs</h2>
                        <div v-for="blog in pinnedBlogs" :key="blog.id"
                            class="boxshadow animate__animated animate__fadeIn blogHeading"
                            style="animation-duration: 3s;">
                            <a :href="'blog.html?id=' + blog.id" style="color: #000;">
                                <h3 class="md-centering">{{ blog.title }}</h3>
                                <small style="color: rgb(107, 23, 23);">Published on {{
                                    formatDate(blog.publication_date) }}</small>
                            </a>
                            <div v-if="user">
                                <button @click="editBlog(blog)" id="login-button">Edit</button>&nbsp
                                <button @click="deleteBlog(blog.id)" id="login-button">Delete</button>
                            </div>
                        </div>

                        <h2 class="heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-news" width="44" height="44" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                                <path d="M8 8l4 0" />
                                <path d="M8 12l4 0" />
                                <path d="M8 16l4 0" />
                            </svg> All Blogs</h2>
                        <div v-for="blog in blogs" :key="blog.id"
                            class="boxshadow animate__animated animate__fadeIn blogHeading"
                            style="animation-duration: 3s;">
                            <a :href="'blog.html?id=' + blog.id" style="color: #000;">
                                <h3 class="md-centering">{{ blog.title }}</h3>
                                <small style="color: rgb(107, 23, 23);">Published on {{
                                    formatDate(blog.publication_date) }}</small>
                            </a>
                            <div v-if="user">
                                <button @click="editBlog(blog)" id="login-button">Edit</button>&nbsp
                                <button @click="deleteBlog(blog.id)" id="login-button">Delete</button>
                            </div>
                        </div>

                        <div v-if="user">
                            <h2 class="heading-with-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news"
                                    width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                                    <path d="M8 8l4 0" />
                                    <path d="M8 12l4 0" />
                                    <path d="M8 16l4 0" />
                                </svg> Draft Blogs
                            </h2>
                            <div v-for="blog in draftBlogs" :key="blog.id"
                                class="boxshadow animate__animated animate__fadeIn blogHeading"
                                style="animation-duration: 3s;">
                                <a :href="'blog.html?id=' + blog.id" style="color: #000;">
                                    <h3 class="md-centering">{{ blog.title }}</h3>
                                    <small style="color: rgb(107, 23, 23);">Created on {{
                                        formatDate(blog.publication_date)
                                        }}</small>
                                </a>
                                <div v-if="user">
                                    <button @click="editBlog(blog)" id="login-button">Edit</button>&nbsp
                                    <button @click="deleteBlog(blog.id)" id="login-button">Delete</button>&nbsp
                                    <button @click="publishBlog(blog.id)" id="login-button">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section>
                <h2 class="text-xl font-bold mb-4 heading-with-icon"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-file-import" width="44" height="44" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3" />
                    </svg> Create Blogs:</h2>

                <div v-if="user" class="boxshadow">
                    <p>Logged in as: <strong>{{ user.email }}</strong></p> <button @click="signOut" class="blog-button"
                        style="margin-bottom: 10px;">Sign Out</button>
                    <form @submit.prevent="submitBlog" class="boxshadow">
                        <input type="text" v-model="title" class="blog-input" placeholder="Blog Title" required>
                        <textarea v-model="content" ref="content" class="blog-input"
                            placeholder="Blog Content - Supports HTML!" required style="height: 200px;"></textarea>
                        <label>
                            <input type="checkbox" v-model="isDraft" style="width: 16px; height: 16px; margin: 10px; padding: 0; vertical-align: middle;"> <span style="font-size: small;">Save as Draft</span>
                        </label> <br><br>
                        <button type="submit" class="blog-button">Submit</button>
                    </form>
                    <br><br>
                    <button @click="insertPStart" style="margin-right: 10px;" class="blog-button">Paragraph
                        Start</button>
                    <button @click="insertPEnd" style="margin-right: 10px;" class="blog-button">Paragraph End</button>
                    <button @click="insertBStart" style="margin-right: 10px;" class="blog-button">Bold Start</button>
                    <button @click="insertBEnd" style="margin-right: 10px;" class="blog-button">Bold End</button>
                    <button @click="insertAStart" style="margin-right: 10px;" class="blog-button">Link Start</button>
                    <button @click="insertAEnd" style="margin-right: 10px;" class="blog-button">Link End</button>
                    <button @click="insertImage" style="margin-right: 10px;" class="blog-button">Image</button>
                    <button @click="insertNextLine" style="margin-right: 10px;" class="blog-button">Next Line</button>
                </div>

                <div v-else class="boxshadow">
                    <button @click="loginWithGoogle" class="google-button">
                        <img src="https://firebasestorage.googleapis.com/v0/b/contactusform-f0ec2.appspot.com/o/Icons%2FAboutIcons%2FGoogle__G__Logo.svg?alt=media&token=2d3f2c46-c0ed-4511-a0a0-3027ce248ea6"
                            alt="Google Logo" class="google-logo">
                        Sign in with Google
                    </button>
                </div>
            </section>
        </div>
    </div>
    </div>
    </div>


    <div id="footer">
        made on earth by a human <br> <a href="https://github.com/PranavVerma-droid">PranavVerma-droid</a>
    </div>

    <!-- General App Settings Javascript -->
    <script src="Home/Javascript/index.js" type=""></script>
    <script src="Home/Javascript/particles.js"></script>
    <script src="Home/Javascript/app.js"></script>

    <!-- Javascript Framework (Vue.js) -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <!-- Firebase Config Files Javascript -->
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-performance-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Firebase Settings and Import Javascript -->
    <script src="Home/Javascript/Firebase/about.js"></script>
    <script src="Home/Javascript/Firebase/blogs.js"></script>
    <script src="Home/Javascript/Firebase/works.js"></script>
    <script src="Home/Javascript/Firebase/contact.js"></script>
    <script src="Home/Javascript/Firebase/links.js"></script>

    <script>
        const firebaseConfigPerf = {
            apiKey: "AIzaSyCA_BPpKq3IhLupHnGYbbwq0U1mLdMbJXY",
            authDomain: "contactusform-f0ec2.firebaseapp.com",
            databaseURL: "https://contactusform-f0ec2-default-rtdb.firebaseio.com",
            projectId: "contactusform-f0ec2",
            storageBucket: "contactusform-f0ec2.appspot.com",
            messagingSenderId: "641931730164",
            appId: "1:641931730164:web:0812ee1bf4659f8381d2a1",
            measurementId: "G-1RVB7HZQWB"
        };

        const appPerf = firebase.initializeApp(firebaseConfig);

        const perf = firebase.performance(appPerf);
    </script>


    <!-- All CSS -->
    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/contactusform-f0ec2.appspot.com/o/Icons%2Ftitle-icon.png?alt=media&token=5184d30f-59ce-4113-bb95-b8f7ebe4a04d"
        type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="Home/CSS/index.css">


    <!-- Miscellaneous Javascript -->
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="pranavverma" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF5F5F"
        data-position="Right" data-x_margin="18" data-y_margin="18" class="md-hide"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- <script>
        function showWorkInProgressAlert() {
            alert("Work in Progress! Please Check back later!");
        }
    </script> -->

</body>

</html>