@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --container-bg: #ffffff;
    --container-shadow: rgba(0, 0, 0, 0.1);
}

.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --container-bg: #2c2c2c;
    --container-shadow: rgba(255, 255, 255, 0.1);
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--container-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--container-shadow);
}

.recent-blog-item {
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

.recent-blog-item:hover {
    transform: scale(1.025); 
}

pre {
    border: solid 2px;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
}

code {
    font-family: monospace !important;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: var(--text-color);
}

p {
    font-size: 1.2em;
    color: var(--text-color);
    line-height: 1.6;
}


img {
    max-width: 100%;
    height: auto;
    min-width: 300px;
}

small {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: rgb(98, 98, 185);
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

a {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: rgb(111, 185, 209);
}

a:hover {
    background-color: rgba(14, 79, 82, 0.738);
}



.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--container-bg);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    z-index: 1000;
}

#darkModeToggle:hover {
    transform: scale(1.1);
}

.dark-mode #darkModeToggle {
    background-color: var(--text-color);
    color: var(--bg-color);
}